#intro{
    background-image: url('../css/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    text-align: center;
    }
    .intro{
        color: white;
      padding: 30px;
    }
    .about{
        text-align: center;
    }
    #service{
        background-image: url('/css/s_image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vh;
        padding: 10px;
    }

.service{
    color: white;
    text-align: center;
    padding-top: 90px;
}#design{
    display: none;
    text-align: center;
}
#dev{
    display: none;
    text-align: center;

}
#prod{
    display: none;
    text-align: center;

}
#whatwedo{
    display: flex;
    justify-content: space-between;
}
#what{
    text-align: center;
}
#portfolio>h3{
    text-align: center;
}
#portfolio{
    text-align: center;
    
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  position: relative;
  color: #333;
  cursor: pointer;
}
.caption {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 290px;
	position: absolute;
	bottom: 0px;
	padding: 20px;
}
#contact{
    padding-top: 30px;
    background-image: url('/css/c_image.jpg');
    width: 100%;
    height: 50vh;
   padding-bottom: 20px;
}
textarea{
    width: 100%; 
    border: 1px solid #ccc; 
    background-color: transparent;
    color: white;
  }
input[type=text]{
    color:white;
    background-color: transparent;
    border: 1px solid #ccc; 
}
#email{
    float: left;
}
#name{
    float: right;
}
::placeholder{
color:white
}
#contact{
    color: white;
}
button{
    background-color: transparent;
}
span{
    width: 10px;
    padding:10px;
}
footer{
    text-align: center;
}
